* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#waybar {
    background: rgba(28, 28, 30, 0.92);
    border-radius: 7px;
    color: #f2f2f7;
    padding: 4px 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    background: transparent;
    color: white;
    border-radius: 8px;
    transition-duration: 100ms;
    min-width: 20px;
    margin-right: 1px;
    margin-left: 1px;
}

#workspaces button.focused {
    background: black;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid black;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 8px;
    color: white;
}

#pulseaudio {
    background: transparent;
    color: white;
    border-radius: 20px;
    margin-right: 2px;
}

#bluetooth {
    background: transparent;
    color: white;
    border-radius: 20px;
    margin-right: 2px;
    min-width: 20px;
}

#network {
    background: transparent;
    color: white;
    border-radius: 20px;
    margin-right: 2px;
}

#window,
#workspaces {
    margin: 0px 4px;
}

#battery {
    background: transparent;
    color: white;
    border-radius: 20px;
    margin-right: 2px;
}

#clock {
    background: transparent;
    color: white;
    border-radius: 20px;
    margin-right: 2px;

}

#tray {
    background: transparent;
    border-radius: 20px;
    color: white;
    margin-right: 2px;
}

#language {
    background: transparent;
    color: white;
    min-width: 20px;
    border-radius: 20px;
    margin-right: 2px;
}