* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: black;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    background: #da7060;
    color: black;
    border-radius: 15px;
    transition-duration: 100ms;
    min-width: 30px;
    margin-right: 1px;
    margin-left: 1px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid black;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background: #5e4a47;
}

#workspaces button.focused:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid black;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid black;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: black;
}

#pulseaudio {
    background-color: #da7060;
    color: black;
    border-radius: 20px;
    margin-right: 4px;
}

#bluetooth {
    background-color: #da7060;
    color: black;
    border-radius: 20px;
    margin-right: 4px;
}

#network {
    background-color: #da7060;
    color: black;
    border-radius: 20px;
    margin-right: 4px;
}

#window,
#workspaces {
    margin: 0px 4px;
}

#battery {
    background-color: #da7060;
    color: black;
    border-radius: 20px;
    margin-right: 4px;
}

#clock {
    background-color: #da7060;
    color: black;
    border-radius: 20px;
    margin-right: 4px;

}

#tray {
    background-color: #da7060;
    border-radius: 20px;
    color: black;
    margin-right: 4px;
}

#language {
    background-color: #da7060;
    color: black;
    min-width: 30px;
    border-radius: 20px;
    margin-right: 4px;
}